[Unit]
Description=Telegram bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=fruct
RestartSec=10
WorkingDirectory=/home/fruct/telegram-bot-test
ExecStart=/usr/bin/python3 /home/fruct/telegram-bot-test/bot.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
